* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.form-control.success {
  border-color: #198754;
}
.form-control.error {
  border-color: #dc3545;
}
.form-error {
  color: #dc3545;
  font-size: 0.8rem;
  text-align: left;
}

form .form-control:focus{
    border-color: #ced4da;
    box-shadow: none;
  }
